<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Users</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<h3>Fruit List</h3>
<a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3" >Add Fruit</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="fruit:${fruits}">
        <td th:text="${fruit.name}"></td>
        <td th:text="${fruit.color}"></td>
        <td> <a th:href="@{/showFormForUpdate/{id}(id=${fruit.name})}"
                class="btn btn-primary">Update</a>
                <a th:href="@{/deleteEmployee/{id}(id=${fruit.name})}"
                class="btn btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>